---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$base-font-family: 'Arvo', "Helvetica Neue", Helvetica, Arial, sans-serif;


.social-media-list {
	text-align: right;
}


span.active {
	background: #eee;
}

header a {
	padding: 0.25em 0;
}

nav span {
	display: block;
	float: left;
	padding: 0.5em 1em;
}


a.download-button {
	display: block;
	margin-right: 50%;
	padding: 15px 20px 10px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	background: #333;
	border: 2px solid #666;
	-webkit-box-shadow: 3px 3px 5px #000000;
	-moz-box-shadow: 3px 3px 5px #000000;
	box-shadow: 3px 3px 5px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a.download-button:hover {
	background-color: #666;
	background-position: 90% 50%;
}

a.download-button span {
	font-size: 14px;
	display: block;
	margin-top: 2px;
}
